{{ if model.machine_section }}
<div class="section-bar">รายละเอียดเครื่องจักร</div>

<div class="pad">

  {{ $ms = model.machine_section }}

  {{ if $ms.surveyed_count != null || $ms.evaluated_count != null || $ms.installed_in_use_count != null || $ms.wreckage_count != null || $ms.not_installed_count != null }}
  <div class="cols3">
    <div class="kv"><span class="k">จำนวนที่สำรวจ :</span><span class="v">{{ $ms.surveyed_count }}</span></div>
    <div class="kv"><span class="k">จำนวนที่ประเมิน :</span><span class="v">{{ $ms.evaluated_count }}</span></div>
    <div class="kv"><span class="k">ติดตั้งและใช้งาน :</span><span class="v">{{ $ms.installed_in_use_count }}</span></div>
    <div class="kv"><span class="k">จำนวนซาก :</span><span class="v">{{ $ms.wreckage_count }}</span></div>
    <div class="kv"><span class="k">ยังไม่ติดตั้ง :</span><span class="v">{{ $ms.not_installed_count }}</span></div>
  </div>
  {{ end }}

  <div class="cols2">
    {{ if $ms.maintenance_condition }}
    <div class="kv"><span class="k">สภาพการบำรุงรักษา :</span><span class="v">{{ $ms.maintenance_condition }}</span></div>
    {{ end }}
    {{ if $ms.exterior_condition }}
    <div class="kv"><span class="k">สภาพภายนอก :</span><span class="v">{{ $ms.exterior_condition }}</span></div>
    {{ end }}
    {{ if $ms.efficiency }}
    <div class="kv"><span class="k">ประสิทธิภาพ :</span><span class="v">{{ $ms.efficiency }}</span></div>
    {{ end }}
    {{ if $ms.market_demand }}
    <div class="kv"><span class="k">สภาพความต้องการของตลาด :</span><span class="v">{{ $ms.market_demand }}</span></div>
    {{ end }}
  </div>

  {{ if $ms.owner_name }}
  <div class="kv"><span class="k">กรรมสิทธิ์เครื่องจักร :</span><span class="v">{{ $ms.owner_name }}</span></div>
  {{ end }}
  {{ if $ms.machine_location }}
  <div class="kv"><span class="k">ที่ตั้งเครื่องจักร :</span><span class="v">{{ $ms.machine_location }}</span></div>
  {{ end }}
  {{ if $ms.obligation }}
  <div class="kv"><span class="k">ภาระผูกพัน :</span><span class="v">{{ $ms.obligation }}</span></div>
  {{ end }}
  {{ if $ms.other }}
  <div class="kv"><span class="k">อื่นๆ :</span><span class="v">{{ $ms.other }}</span></div>
  {{ end }}
  {{ if $ms.collateral_detail_narrative }}
  <div class="kv"><span class="k">รายละเอียดหลักประกัน :</span><span class="v">{{ $ms.collateral_detail_narrative }}</span></div>
  {{ end }}

</div>

{{ if $ms.machines.size > 0 }}
<table class="grid">
  <thead>
    <tr>
      <th style="width:28px;">ลำดับ</th>
      <th style="width:40px;">จำนวน</th>
      <th>ชื่อเครื่องจักร</th>
      <th style="width:80px;">เลขทะเบียน</th>
      <th style="width:120px;">ยี่ห้อ / รุ่น / ซีรีส์</th>
      <th style="width:90px;">ผู้ผลิต</th>
      <th style="width:50px;">ปีที่ผลิต</th>
      <th style="width:40px;">อายุ</th>
      <th style="width:80px;">สภาพ</th>
      <th style="width:90px;">มูลค่าทดแทน</th>
      <th style="width:90px;">มูลค่าตามสภาพ</th>
      <th style="width:90px;">หมายเหตุ</th>
    </tr>
  </thead>
  <tbody>
    {{ for m in $ms.machines }}
    <tr>
      <td class="ctr">{{ m.sequence }}</td>
      <td class="ctr">{{ m.quantity }}</td>
      <td>{{ m.machine_name }}</td>
      <td>{{ m.registration_number }}</td>
      <td>
        {{ if m.brand }}{{ m.brand }}{{ end }}
        {{ if m.model }}<span style="color:#555;">/ {{ m.model }}</span>{{ end }}
        {{ if m.series }}<span style="color:#555;">/ {{ m.series }}</span>{{ end }}
      </td>
      <td>{{ m.manufacturer }}</td>
      <td class="ctr">{{ m.year_of_manufacture }}</td>
      <td class="ctr">{{ m.machine_age }}</td>
      <td>
        {{ if m.condition_use }}{{ m.condition_use }}{{ end }}
        {{ if m.machine_condition }}<div>{{ m.machine_condition }}</div>{{ end }}
      </td>
      <td class="num">{{ if m.replacement_value; m.replacement_value | math.format "N2"; end }}</td>
      <td class="num">{{ if m.condition_value; m.condition_value | math.format "N2"; end }}</td>
      <td>{{ m.remark }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}

{{ end }}
